@media (min-width: 1280px) {
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .all{
    width: 100vw;
    height: 100vh;
    display: flex;
    }
    .side{
        width: 366px;
        height: 100vh;
        background-color: #576F72;
    }
    .ham-menu{
        width: 80px;
        height: 80px;
        background-color: #E4DCCF;
        position: absolute;
        top: calc((100% - 80px) /2);
        left: 3%;
        display: none;
    }
    .ham-menu .line{
        width: 80%;
        height: 6px;
        background-color: rgb(53, 42, 42);
        position: absolute;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%,-50%);
        transition-duration: 1s;
    }
    .ham-menu .line-1{
        top: 25%;
    }
    .ham-menu .line-2{
        top: 50%;
    }
    .ham-menu .line-3{
        top: 75%;
    }
    #ham-menu-switch:checked+.ham-menu .line-1{
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    #ham-menu-switch:checked+.ham-menu .line-2{
        display: none;
    }
    #ham-menu-switch:checked+.ham-menu .line-3{
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #ham-menu-switch:checked~.list {
        display:block;
        position: absolute; 
        top: 100px;
        left: 0;
        /* width: 80px; */
        /* background-color: lightgrey; */
        /* padding: 5px; */
        z-index: 999;
      }
    .container{
        width: calc(100% - 366px);
        height: 100%;
        /* flex:1 */
        background-color: #7D9D9C;
        position: relative;
    }
    .content{
        width: 60%;
        height: 60%;
        /* background-color: beige; */
        position: absolute;
        left: calc((100% - 60%) /2);
        top: calc((100% - 60%) /2);
        display: flex;
    }
    .img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .img:hover{
        transform: scale(1.1,1.1);
    }
    .img-1{
        flex: 1;
        background-image: url(../img/mathilde-langevin-0ViPYEuOkZg-unsplash.jpg);
    }
    .img-2{
        flex: 1;
        background-image: url(../img/mathilde-langevin--3GQK3KRqn0-unsplash.jpg);
    }
    .img-3{
        flex: 1;
        background-image: url(../img/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);
    }
    /* .ham-menu{
        width: 50%;
        height: 50%;
        background-color: #E4DCCF;
        display: block;
        position: relative;
    }
    .ham-menu .line{
        width: 50%;
        height: 50%;
    } */
    .logo{
        width: 40%;
        height: 15%;
        background-color: #E4DCCF;
        margin: auto;
        margin-top: 40%;
        background-image: url(../img/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .list{
        width: 40%;
        height: 30%;
        /* background-color: #F0EBE3; */
        margin: auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 100%;
        height: 10%;
        font-size: 1.3rem;
        color: white;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        /* background-color: black; */
        /* text-align: center; */
        /* line-height: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-style: italic;
    }
    .btn:hover{
        transform: scale(1.05,1.05);
    }
    .btn:active{
        color: #cfcbc4;
    }
    .btn-1,.btn-2,.btn-3{
        flex: 1;
    }    
}

@media (max-width: 1280px) and (min-width: 768px){
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .all{
    width: 100vw;
    height: 100vh;
    display: flex;
    }
    .side{
        width: 366px;
        height: 100vh;
        background-color: #576F72;
    }
    .ham-menu{
        width: 80px;
        height: 80px;
        background-color: #E4DCCF;
        position: absolute;
        top: calc((100% - 80px) /2);
        left: 3%;
        display: none;
    }
    .ham-menu .line{
        width: 80%;
        height: 6px;
        background-color: rgb(53, 42, 42);
        position: absolute;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%,-50%);
        transition-duration: 1s;
    }
    .ham-menu .line-1{
        top: 25%;
    }
    .ham-menu .line-2{
        top: 50%;
    }
    .ham-menu .line-3{
        top: 75%;
    }
    #ham-menu-switch:checked+.ham-menu .line-1{
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    #ham-menu-switch:checked+.ham-menu .line-2{
        display: none;
    }
    #ham-menu-switch:checked+.ham-menu .line-3{
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #ham-menu-switch:checked~.list {
        display:block;
        position: absolute; 
        top: 100px;
        left: 0;
        /* width: 80px; */
        /* background-color: lightgrey; */
        /* padding: 5px; */
        z-index: 999;
      }
    .container{
        width: calc(100% - 366px);
        height: 100%;
        background-color: #7D9D9C;
        position: relative;
    }
    .content{
        width: 90%;
        height: 80%;
        /* background-color: beige; */
        position: absolute;
        left: calc((100% - 90%) /2);
        top: calc((100% - 80%) /2);
        /* transform: translate(0,-50%); */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
    }
    .img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .img:hover{
        transform: scale(1.1,1.1);
    }
    .img-1{
        width: 100%;
        height: 50%;
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin-0ViPYEuOkZg-unsplash.jpg);
        /* display: flex; */
        /* float: left; */
    }
    .img-2{
        width: 50%;
        height: 50%;
        /* display: inline; */
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin--3GQK3KRqn0-unsplash.jpg);
        /* display: flex;
        justify-self:self-start; */
        /* float: left; */
        }
    .img-3{
        width: 50%;
        height: 50%;
        /* display: inline; */
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);
        /* display: flex;
        justify-content: right; */
        /* float: right; */
    }
    /* .ham-menu{
        width: 50%;
        height: 50%;
        background-color: #E4DCCF;
        display: block;
        position: relative;
    }
    .ham-menu .line{
        width: 50%;
        height: 50%;
    } */
    .logo{
        width: 40%;
        height: 15%;
        background-color: #E4DCCF;
        margin: auto;
        margin-top: 40%;
        background-image: url(../img/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .list{
        width: 40%;
        height: 30%;
        /* background-color: #F0EBE3; */
        margin: auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 100%;
        height: 10%;
        font-size: 1.3rem;
        color: white;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        /* background-color: black; */
        /* text-align: center; */
        /* line-height: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-style: italic;
    }
    .btn:hover{
        transform: scale(1.05,1.05);
    }
    .btn:active{
        color: #cfcbc4;
    }
    .btn-1,.btn-2,.btn-3{
        flex: 1;
    }    
}

@media (max-width: 768px) and (min-width: 375px){
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .side{
        width: 100%;
        height: 100px;
        background-color: #576F72;
        position: relative;
    }
    .ham-menu{
        width: 80px;
        height: 80px;
        background-color: #E4DCCF;
        position: absolute;
        top: calc((100% - 80px) /2);
        left: 3%;
        display: none;
    }
    .ham-menu .line{
        width: 80%;
        height: 6px;
        background-color: rgb(53, 42, 42);
        position: absolute;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%,-50%);
        transition-duration: 1s;
    }
    .ham-menu .line-1{
        top: 25%;
    }
    .ham-menu .line-2{
        top: 50%;
    }
    .ham-menu .line-3{
        top: 75%;
    }
    #ham-menu-switch:checked+.ham-menu .line-1{
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    #ham-menu-switch:checked+.ham-menu .line-2{
        display: none;
    }
    #ham-menu-switch:checked+.ham-menu .line-3{
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #ham-menu-switch:checked~.list {
        display:block;
        position: absolute; 
        top: 100px;
        left: 0;
        /* width: 80px; */
        /* background-color: lightgrey; */
        /* padding: 5px; */
        z-index: 999;
      }
    .container{
        width: 100%;
        height: calc(100% - 100px);
        background-color: #7D9D9C;
        position: relative;
    }
    .content{
        width: 90%;
        height: 90%;
        /* background-color: beige; */
        position: absolute;
        left: calc((100% - 90%) /2);
        top: calc((100% - 90%) /2);
        display: flex;
        flex-wrap: wrap;
    }
    .img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .img:hover{
        transform: scale(1.1,1.1);
    }
    .img-1{
        width: 100%;
        height: 50%;
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin-0ViPYEuOkZg-unsplash.jpg);
    }
    .img-2{
        width: 50%;
        height: 50%;
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin--3GQK3KRqn0-unsplash.jpg);
    }
    .img-3{
        width: 50%;
        height: 50%;
        /* flex: 1; */
        background-image: url(../img/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);
    }
    /* .ham-menu{
        width: 50%;
        height: 50%;
        background-color: #E4DCCF;
        display: block;
        position: relative;
    }
    .ham-menu .line{
        width: 50%;
        height: 50%;
    } */
    .logo{
        width: 80px;
        height: 80px;
        background-color: #E4DCCF;
        position: absolute;
        top: calc((100% - 80px) /2);
        left: 10%;
        /* margin: auto; */
        /* margin-top: 40%; */
        background-image: url(../img/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .list{
        width: calc(30% + 30px);
        height: 100%;
        /* background-color: #F0EBE3; */
        position: absolute;
        top: 0;
        right: 10%;
        /* margin: auto; */
        /* margin-top: 5%; */
        display: flex;
        flex-direction: row;
    }
    .btn{
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        color: white;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        /* background-color: black; */
        /* text-align: center; */
        /* line-height: 50%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-style: italic;
    }
    .btn:hover{
        transform: scale(1.05,1.05);
    }
    .btn:active{
        color: #cfcbc4;
    }
    .btn-1,.btn-2,.btn-3{
        margin-left: 10px;
        flex: 1;
    }
    .btn-3{
        text-align: center;
    }    
}

@media (max-width: 375px) {
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .side{
        width: 100%;
        height: 100px;
        background-color: #576F72;
        position: relative;
    }
    .ham-menu{
        width: 80px;
        height: 80px;
        background-color: #E4DCCF;
        position: absolute;
        top: calc((100% - 80px) /2);
        left: 3%;
    }
    .ham-menu .line{
        width: 80%;
        height: 6px;
        background-color: rgb(53, 42, 42);
        position: absolute;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%,-50%);
        transition-duration: 1s;
    }
    .ham-menu .line-1{
        top: 25%;
    }
    .ham-menu .line-2{
        top: 50%;
    }
    .ham-menu .line-3{
        top: 75%;
    }
    #ham-menu-switch:checked+.ham-menu .line-1{
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    #ham-menu-switch:checked+.ham-menu .line-2{
        display: none;
    }
    #ham-menu-switch:checked+.ham-menu .line-3{
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #ham-menu-switch:checked~.list {
        display:block;
        position: absolute; 
        top: 100px;
        left: 0;
        /* width: 80px; */
        /* background-color: lightgrey; */
        /* padding: 5px; */
        z-index: 999;
      }
    .container{
        width: 100%;
        height: calc(100% - 100px);
        background-color: #7D9D9C;
        position: relative;
    }
    .content{
        width: 100%;
        height: 100%;
        /* background-color: beige; */
        /* position: absolute;
        left: calc((100% - 80%) /2);
        top: calc((100% - 60%) /2); */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    /* .img:hover{
        transform: scale(1.1,1.1);
    } */
    .img-1{
        width: 100%;
        /* height: calc(100% / 3); */
        flex: 1;
        background-image: url(../img/mathilde-langevin-0ViPYEuOkZg-unsplash.jpg);
    }
    .img-2{
        width: 100%;
        /* height: 50%; */
        flex: 1;
        background-image: url(../img/mathilde-langevin--3GQK3KRqn0-unsplash.jpg);
    }
    .img-3{
        width: 100%;
        /* height: 50%; */
        flex: 1;
        background-image: url(../img/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);
    }
    /* .ham-menu{
        width: 50%;
        height: 50%;
        background-color: #E4DCCF;
        display: block;
        position: relative;
    }
    .ham-menu .line{
        width: 50%;
        height: 50%;
    } */
    .logo{
        width: 80px;
        height: 80px;
        /* background-color: #ffffff; */
        position: absolute;
        top: calc((100% - 80px) /2);
        left: calc((100% - 80px) /2);
        /* transform: translate(-50%,0); */
        /* margin: auto; */
        /* margin-top: 40%; */
        background-image: url(../img/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .list{
        width: 20%;
        height: 300px;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        right: 0;
        /* opacity: 0.5; */
        /* margin: auto; */
        /* margin-top: 5%; */
        display: flex;
        flex-direction: column;
        display: none;
    }
    .btn{
        width: 100%;
        height: 30%;
        font-size: 1.5rem;
        color: black;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        /* background-color: black; */
        /* text-align: center; */
        /* line-height: 50%; */
        font-style: italic;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .btn:hover{
        transform: scale(1.05,1.05);
    }
    .btn:active{
        color: #cfcbc4;
    }
    .btn-1,.btn-2,.btn-3{
        /* margin-left: 10px; */
        flex: 1;
    }
    .btn-3{
        text-align: center;
    }    
}